<!-- <button mat-raised-button>hello world</button> -->
<!-- <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
</mat-form-field> -->
<mat-toolbar>
    <span style="margin-right: 10px; size: 5px;">
        OMS
    </span>
    <button mat-button [matMenuTriggerFor]="menu">Role</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="role='ARROLE'">ARROLE</button>
        <button mat-menu-item (click)="role='ARAPPROVER'">ARAPPROVER</button>
    </mat-menu>
</mat-toolbar>
<br />
<table align="center">
    <tr>
        <td>
            <div [ngSwitch]="role">

                <div *ngSwitchCase="'ARROLE'">
                    <mat-card>
                        <mat-card-title>
                            Blocked Customer List
                        </mat-card-title>
                        <mat-card-content>
                            <!-- <app-blockcusdocup></app-blockcusdocup> -->
                            <app-blockedcuslist></app-blockedcuslist>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div *ngSwitchCase="'ARAPPROVER'">
                    <mat-card>
                        <mat-card-title>
                            Request for blocking and blocking customers
                        </mat-card-title>
                        <mat-card-content>
                            In exceptional request page for ARAPPROVER
                            <!-- <app-blockedcuslist></app-blockedcuslist> -->
                        </mat-card-content>
                    </mat-card>
                </div>
                <div *ngSwitchDefault>
                    <mat-card-title>
                        please select any role
                    </mat-card-title>
                </div>

            </div>
        </td>
    </tr>
</table>