table{
    width: 100%;
    border: blueviolet;
}

.mat-form-field {
    font-size: 14px;
    width: 95%;
  }

  .flable{
      padding: 3px;
      margin: 3px;
      font-style: italic;
      color: cornflowerblue;
  }
